@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Inter:wght@100..900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

/*
font-family: "Inter", sans-serif;
font-family: "Lora", serif;
font-family: "Inconsolata", monospace;
*/
/*
Red:        #FF5252;
Purple:     #A445ED;
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}

body {
    font-family: "Inter", sans-serif;
    display: flex;
    justify-content: center;
}

.sans-serif {
    font-family: "Inter", sans-serif;
}

.serif {
    font-family: "Lora", serif;
}

.mono {
    font-family: "Inconsolata", monospace;
}

.dark {
    background-color: black;
    color: white;
}

main {
    padding: 20px;
    margin-top: 20px;
    max-width: 600px;
    flex-direction: column;
}

nav {
    font-weight: 800;
    margin-bottom: 20px;
}

.dropdown {
    border-right: 2px solid rgba(0, 0, 0, 0.193);
    cursor: pointer;
}

.dropdown img {
    margin-left: 10px;
    margin-right: 20px;
    
}

.menu {
    position: absolute;
    top: 33px;
    right: 115px;
    height: 105px;
    width: 130px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.165);
    padding: 10px 20px;
    z-index: 10;
    line-height: 200%;
    cursor:auto;
}

.dark .menu {
    color: white;
    background-color: black;
    border: 1px solid #757575;
}

.hidden {
    display: none;
}

#sans-serif {
    font-family: "Inter", sans-serif;
    cursor: pointer;
}

#serif {
    font-family: "Lora", serif;
    cursor: pointer;
}
#mono {
    font-family: "Inconsolata", monospace;
    cursor: pointer;
}

.form-check {
    padding-left: 50px;

}

.form-check-input:checked {
    background-color: #A445ED;
    border: none;
}

.form-check-input {
    background-color: grey;
    border: none;
    cursor: pointer;
}

.form-switch .form-check-input {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}

.input-box {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}

.input-box input {
    width: 85%;
    border-radius: 15px;
    border: 1px solid transparent;
    background-color: rgba(0, 0, 0, 0.091);
    padding: 10px 20px;
    font-weight: 800;
    cursor: pointer;

}

.dark input {
    background-color: #1F1F1F;
 }

.input-box img {
    position: absolute;
    top: 11px;
    right: 8%;
}

input:focus {
    outline: 1px solid #A445ED;
}

.empty-box {
    color: red;
    font-size: 14px;
    position: absolute;
    top: 48px;
    left: 28px;
}

.first-section {
    margin-top: 20px;
}

.no-word {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;
    padding-left:20px;
    width: 93%;
    margin-top: 40px;
    height: 200px;
}

.main-word {
    font-size: 35px;
    font-weight: 800;
}

.phonetic {
    color:#A445ED;
    font-size: 20px;
}

#play-icon {
    cursor: pointer;
}

.second-section {
    margin-top: 20px;
}

.horizontal-line {
    width: 100%;
}

.p-o-s {
    font-weight: 800;
    font-style: italic;
    padding-right: 15px;
}

.meaning {
    margin-top: 20px;
    margin-bottom: 10px;
    color: rgba(0, 0, 0, 0.388);
}

.dark .meaning { 
    color: #757575;
}

ul > li {
    padding: 5px 10px;
}

ul > li::marker {
    color: #A445ED;
}

.examples {
    color:rgb(152, 152, 152);
    line-height: 220%;
}

.s-and-a {
    padding: 10px 5px
}

.semantics { 
    margin-top: 20px;
    margin-bottom: 10px;
    margin-right: 50px;
    color: rgba(0, 0, 0, 0.388);
}

.dark .semantics { 
    color: #757575;
}


.semantic-words, .semantic-words:visited {
    font-weight: 800;
    color: #A445ED;
    text-decoration: none;
}

.semantic-words:hover {
    text-decoration: underline;
}

.source-section {
    margin-top: 10px;
}

#source-title {
    text-decoration: underline;
    color: rgba(0, 0, 0, 0.388);
}

.dark #source-title { 
    color: #757575;
}

#source {
    font-size: 14px;
}