@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Inter:wght@100..900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

/*
font-family: "Inter", sans-serif;
font-family: "Lora", serif;
font-family: "Inconsolata", monospace;
*/
/*
Red:        #FF5252;
Purple:     #A445ED;
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}

body {
    font-family: "Inter", sans-serif;
    display: flex;
    justify-content: center;
}

.sans-serif {
    font-family: "Inter", sans-serif;
}

.serif {
    font-family: "Lora", serif;
}

.mono {
    font-family: "Inconsolata", monospace;
}

.dark {
    background-color: black;
    color: white;
}

main {
    min-width: 355px;
    padding: 20px;
    margin-top: 20px;
    max-width: 929px;
    flex-direction: column;
}

nav {
    font-weight: 800;
    margin-bottom: 24px;
}

h1 {
    line-height: 100%;
}

.dropdown {
    cursor: pointer;
}

.dropdown img {
    margin-left: 10px;
    margin-right: 5px;
    
}

#menu-button {
    font-size: 14px;
    border-right: 2px solid rgba(0, 0, 0, 0.193);
    padding-right: 15px;
}

.menu {
    position: absolute;
    top: 33px;
    right: 115px;
    height: 105px;
    width: 130px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.165);
    padding: 10px 20px;
    z-index: 10;
    line-height: 200%;
    cursor:auto;
}

.dark .menu {
    color: white;
    background-color: black;
    border: 1px solid #757575;
    box-shadow: 1px 1px 15px 2px #A445ED;
}

.purple {
    color: #A445ED;
}
.hidden {
    display: none;
}

#sans-serif {
    font-family: "Inter", sans-serif;
    cursor: pointer;
}

#serif {
    font-family: "Lora", serif;
    cursor: pointer;
}
#mono {
    font-family: "Inconsolata", monospace;
    cursor: pointer;
}

.form-check {
    padding-left: 55px;
}

.form-check-input {
    height: 20px;
    width: 100%;
    background-color: grey;
    border: none;
    cursor: pointer;
}

.form-check-input:checked {
    background-color: #A445ED;
    border: none;
}

.form-switch .form-check-input {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
    width: 43px;
}

.input-box {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}

.input-box input {
    width: 90%;
    border-radius: 15px;
    border: 1px solid transparent;
    background-color: rgba(0, 0, 0, 0.091);
    padding: 10px 20px;
    font-weight: 800;
    cursor: pointer;

}

.dark input {
    background-color: #1F1F1F;
    color: white;
 }

.input-box img {
    position: absolute;
    top: 11px;
    right: 8%;
}

input:focus {
    outline: 1px solid #A445ED;
}

.empty-box {
    color: red;
    font-size: 14px;
    position: absolute;
    top: 50px;
    left: 5px;
}

.first-section {
    margin-top: 20px;
}

.no-word {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;
    padding-left:20px;
    width: 93%;
    margin-top: 40px;
    height: 200px;
}

.main-word {
    font-size: 35px;
    font-weight: 800;
}

.phonetic {
    color:#A445ED;
    font-size: 20px;
}

#play-icon {
    cursor: pointer;
}

.second-section {
    margin-top: 20px;
    margin-bottom: 30px;
}

.horizontal-line {
    width: 100%;
}

.p-o-s {
    font-weight: 800;
    font-style: italic;
    padding-right: 15px;
}

.meaning {
    margin-top: 20px;
    margin-bottom: 10px;
    color: rgba(0, 0, 0, 0.388);
}

.dark .meaning { 
    color: #757575;
}

ul > li {
    padding-top: 20px;
}

ul > li::marker {
    color: #A445ED;
}

.examples {
    color:rgb(152, 152, 152);
    line-height: 145%;
    list-style-type: none;
    padding-top: 5px;
}

.s-and-a {
    padding: 10px 5px
}

.semantics { 
    margin-top: 20px;
    margin-bottom: 10px;
    margin-right: 50px;
    color: rgba(0, 0, 0, 0.388);
}

.dark .semantics { 
    color: #757575;
}


.semantic-words, .semantic-words:visited {
    font-weight: 800;
    color: #A445ED;
    text-decoration: none;
}

.semantic-words:hover {
    text-decoration: underline;
}

.source-section {
    margin-top: 10px;
}

#source-title {
    text-decoration: underline;
    color: rgba(0, 0, 0, 0.388);
}

.dark #source-title { 
    color: #757575;
}

#source {
    font-size: 14px;
}

@media screen and (min-width: 768px) {

    section {
        width: 688px;
    }

    body {
        font-size: larger;
        line-height: 150%;
    }

    .input-box input {
        width: 100%;
        height: 33px;
    }
    
    main {
        padding: 40px;
    }

    nav {
        margin-bottom: 56px;
    }

    .input-box img {
        top: 17px;
        right: 4%;
    }

    .menu {
        padding-bottom: 25px;
    }

    .first-section {
        margin-top: 50px;
        margin-bottom: 20px;
    }

    .main-word {
        font-size: 54px;

    }

    .phonetic {
        line-height: 200%;
        font-size: larger;
    }

    .empty-box {
        font-size: 17px;
        top: 57px;
        left: 5px;
    }
}

@media screen and (min-width: 1300px) {

    section {
        width: 929px;
    }

    .first-section {
        margin-top: 40px;
        margin-bottom: 15px;
    }

    .main-word {
        font-size: 65px;
        line-height: 150%;

    }

    .phonetic {
        line-height: 150%;
        font-size: larger;
    }

    #play-icon {
        height: 80px;
    }

    #font-type {
        font-size: 1.4em;
    }

    .empty-box {
        font-size: 19px;
        top: 58px;
        left: 5px;
    }
}